<div class="card-form">
<div class="card-header"><h3 >Create Post</h3></div>
  

  <form class="card-body new-post-form">

    <div class="form-group">
      <label for="post-name">Title:</label>
        <input class="form-input" type="text" id="post-name" name="post-name" />
    </div>

    <div class="form-group">
      <label for="post-desc">Content:</label>
      <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
  </div>

    <div class="form-group">
      <button class="btn btn-submit" type="submit">Create</button>
    </div>

  </form>



  </div>
</div>

<script src='/js/add-post.js'></script>