<!-- Loop over each object in the posts array -->
{{>post-content post}}
{{#if post.comments}}
  <div class='card-form'>

    <div class='card-header'>All Comments:</div>
    <div class='card-body'>
      <div class='all-comments'>
        {{! check condition to show all comments }}
        {{#each post.comments as |comment|}}
          {{>comment}} 
        {{/each}}
      </div>      
    </div>
  </div>
{{/if}}
<div class='card-form'>
  <div class='card-header'></div>
  <div class='card-body'>
    <p>
      Comment
    </p>
    <form class='new-comment-form' id='comments'>
      <div class='form-group'>
        {{! input value to pass post id }}
        <input type='hidden' name='comment' value='{{post.id}}' />
        <textarea
          class='form-input'
          id='text-box'
          name='post-comments'
        ></textarea>
        {{#if logged_in}}
        <button type='submit' class='btn btn-submit comment-btn'>Submit</button>
        {{else}}
        <button type='submit' onclick="errorMessage()" class='btn btn-submit comment-btn'>Submit</button>
{{/if}}
      </div>
    </form>
  </div>
</div>
{{#if logged_in}}

  <script src='/js/comment.js'></script>
 
{{/if}}
<script type="text/javascript">
        function errorMessage(){
        alert('you need to login before commenting');
        }
    </script>