<div class="card-form">

  <h3 class="card-header">Sign Up</h3>

  <form class="card-body signup-form">

    <div class="form-group">
      <label class="form-label">Username:</label>
      <input class="form-input" type="text" id="user-signup" />
    </div>

    <div class="form-group">
      <label class="form-label">Password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>

    <div class="form-group">
      <button class="btn btn-submit" type="submit">Sign Up!</button>
    </div>

  </form>
o
  <a href="/login">Login Instead</a>
</div>
<script src="/js/signup.js"></script>