:root {
  --text-color: #ccdad1;
  --dark: #231010;
  --back: #d9ead3;
  --button-color: 
  #666666;
  --light-brown: #6f6866;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: var(--back);
  margin: 0;
  padding: 0;
  /* font-family: "IBM Plex Sans", sans-serif; */
  color: var(--text-color);
  line-height: 1.5;
  font-size: 16px;
}
.align-grid {
  margin: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.navbar {
  background-color:var(--dark);
  /* min-height: 100%; */
}
.nav-item {
  list-style: none;
  display: inline;
  margin-right: 40px;
}
.nav-link {
  color: var(--text-color);
}

.logo {
  padding-left: 3%;
  background-color: var(--dark);
  padding-bottom: 1%;
}

.title-tech {
  font-weight: bold;
  background-color: var(--text-color); 
  box-shadow: 6px 5px var(--light-brown);
  padding: 5px 10px;
  display: inline-block;
  border-radius: 0.3rem;
}

.title-tech a {
  color: var(--dark);
  text-decoration: none;
}
.card-form, .post-title{
  width: 90%;
  margin: 1%;
  border-radius: .5rem;
}
.card-form{
  border: 3px solid var(--dark);

}
.card-header, .post-title {
  padding: 1% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-header{
 background-color: var(--dark);
  min-height: 50px;   
}
.card-header a,.post-title a{
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}

.card-body {
  padding: 2%;
  color: var(--dark);

}
.post-title{
  background-color: var(--light-brown);
  min-height: 70px;
  align-items: center;
}
.post-title:hover{
  background-color: var(--dark);
}
.form-label,
.form-input {
  width: 100%;
}
.form-input{
  border:none;
  padding: .5rem;
}
.form-group{
  margin-bottom: 10px;
}
.welcome{
  color: var(--dark);
}

#text-box{
  border: 2px solid var(--button-color);
  border-radius: .3rem;

}
.btn-submit {
  background-color: var(--button-color);
  width: 100%;
  margin-top: 10px;
  color:var(--text-color)
}
.btn-submit:hover{
  background-color: var(--dark);
  color: var(--text-color);
}
.nav-link:hover{
  color:var(--light-brown);
}
.new-post-btn{
  background-color: var(--dark);
  color: var(--text-color);
}
footer{
  color: var(--light-brown);
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  position: fixed;
}